
h1 {
	display: flex;
	justify-content: center;
}
.container {
	display: flex;
	justify-content: center;
}

.calculator {
	width: 700px;
	height: 1000px;
	background: grey;
/*	display: flex;*/
/*	flex-direction: column;*/
}

.main-container1 {
	display: flex;
}

.numbers {
}

.operands {
	display: flex;
	flex-direction: column;
}

