
h1 {
	display: flex;
	justify-content: center;
}
.container {
	display: flex;
	justify-content: center;
}

.calculator {
	width: 700px;
	height: 1000px;
	background: grey;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.display {
	background: yellow;
	width: 100%;
	height: 20%;
}

.main-container {
	display: flex;
}

.numbers {
}

.operands {
	display: flex;
	flex-direction: column;
}

button {
	font-size: 40px;
/*	border: 2px solid black;*/
	border-radius: 2000px;
/*	width: 10px;*/
	padding: 45px;
	margin: 5px 15px;
}

